<!DOCTYPE html>
<html  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>JVAV电影</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/cinema.css">
    <link rel="stylesheet" href="/css/nav.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/vue/vue.js"></script>
</head>
<body>
<div class="row">
    <div class="search_fail" th:if="${cinemas == null}">
        <p>搜索无结果</p>
    </div>
    <!-- e.g.1 -->
    <div class="col-xs-12 col-sm-12 cinema_abstract" th:unless="${cinemas == null}" th:each="cinema:${cinemas}" th:onclick="'toFilm('+${cinema.cinema_id}+')'">
        <p class="cinema_title"><span th:text="${cinema.cinema_name}"></span>
            <span class="cinema_price1"><span th:text="${cinema.price}">23</span><span class="cinema_price2">元起</span></span>
        </p>
        <p class="cinema_intro" th:text="${cinema.cinema_addr}">宝安区福永镇和平村桥和路315号（德金财富广场）</p>
        <span class="label label-default">座</span>
        <span class="label label-default">退</span>
        <span class="label label-default">改签</span>
        <span class="label label-warning">小吃</span>
    </div>
</div>
<script th:inline="javascript">
    function toFilm(cinema_id) {
        parent.location.href="/cinema/"+cinema_id;
    }
</script>
</body>
</html>